<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pjh5365.servermanagementpageapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <!--모든 http 허용을 위해 userCleartexTraffic 추가 -->
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServerManagementPageApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BoardListActivity" />
        <activity android:name=".ReadActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".JoinActivity" />
    </application>

</manifest>